.article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  text-align: left;
  padding: 2rem;
  height: 100%;
}
.article header {
  text-align: right;
  padding: 0 2rem 0 0;
} 
.article h1  {
  font-family: 'bembo-bold', -apple-system, BlinkMacSystemFont, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 2.75rem;
  color: var(--titles);
  margin: 0;
}
.article h2 {
  font-size: 1.25rem;
  margin: 0.25rem 0 0 0;
}
.article p  {
  margin-top: 0;
  line-height: 1.2rem;
}
.paragraph + .paragraph {
  margin-left: 1rem;
}