.page {
  perspective: 1000px;
}
.page:nth-child(odd) {
  border-right: 1px solid var(--gallery);
}
.page:last-child {
  padding-right: 1px; /* Adjust webkit vertical align to middle border */
}
.img {
  margin: 0;
}
.text {
  padding-top: 2rem;
}
.odd .sheet-1 article, .odd .sheet-1 img {
  background-image: var(--bg-page-odd);
  background-color: white;
}
.even .sheet-1 article, .even .sheet-1 img {
  animation: flip-even 1s ease-in;
  background-image: var(--bg-page-even);
  background-color: white;
}
.odd .sheet-2 article, .odd .sheet-2 img {
  animation: flip-odd 1s ease-in;
  background-image: var(--bg-page-odd);
  background-color: white;
} 
.even .sheet-2 article, .even .sheet-2 img {
  background-image: var(--bg-page-even);
  background-color: white;
} 
.odd .sheet-3 article, .odd .sheet-3 img {
  background-image: var(--bg-page-odd);
  background-color: white;
}
.even .sheet-3 article, .even .sheet-3 img {
  animation: flip-even 1s ease-in;
  background-image: var(--bg-page-even);
  background-color: white;
} 

@keyframes flip-even {
  0% {
    transform: rotateY(-81deg);
    transform-origin: 0 100%;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(0deg);
    transform-origin: 0 100%;
  }
}
@keyframes flip-odd {
  0% {
    transform: rotateY(81deg);
    transform-origin: 100% 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(0deg);
    transform-origin: 100% 0;
  }
}