.fraction:nth-child(odd) {
  border-right: 1px solid var(--gallery);
}
.fraction:last-child {
  padding-right: 1px; /* Adjust webkit vertical align to middle border */
}

label.btn__no_appearance {
  background-color: transparent;
  font-family: 'bembo', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
  Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  appearance: none;
  background-color: white;
  border: none;
}
label.btn__no_appearance.text {
  margin-top: 2rem;
}
label.btn__no_appearance.img {
  margin: 0;
}