:root {
  --gallery: #eaeaea;
}
  
@font-face {
  font-family: 'bembo';
  src: url('/fonts/BemboStd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/BemboStd.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/BemboStd.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/BemboStd.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/BemboStd.svg#bembo') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bembo-bold';
  src: url('/fonts/BemboStd-Bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/BemboStd-Bold.woff2') format('woff2'),
       url('/fonts/BemboStd-Bold.woff') format('woff'),
       url('/fonts/BemboStd-Bold.ttf') format('truetype'),
       url('/fonts/BemboStd-Bold.svg#bembo-bold') format('svg');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'bembo', -apple-system, BlinkMacSystemFont, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
main {
  padding: 5rem 2.75rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}
.title {
  font-size: 3rem;
  font-family: 'bembo-bold', -apple-system, BlinkMacSystemFont, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.grid-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 0 0;
  max-width: 2140px;
  max-height: 100vh;
  border-top: 1px solid var(--gallery);
}
.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-right: 1px solid var(--gallery);
  border-left: 1px solid var(--gallery);
}
.row.img {
  min-height: auto;
}
.row.text {
  border-bottom: 1px solid var(--gallery);
}