:root {
  --gallery: #eaeaea;
  --page-bg: rgb(227 227 227 / 22%);
  --titles: rgb(0, 109, 138);
  --bg-page-odd: linear-gradient(270deg, var(--page-bg) 0%, rgba(247, 247, 247, 0) 18%);
  --bg-page-even: linear-gradient(90deg, var(--page-bg) 0%, rgba(247, 247, 247, 0) 18%);
}
  
@font-face {
  font-family: 'bembo';
  src: url('/fonts/BemboStd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/BemboStd.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/BemboStd.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/BemboStd.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/BemboStd.svg#bembo') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bembo-bold';
  src: url('/fonts/BemboStd-Bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/BemboStd-Bold.woff2') format('woff2'),
       url('/fonts/BemboStd-Bold.woff') format('woff'),
       url('/fonts/BemboStd-Bold.ttf') format('truetype'),
       url('/fonts/BemboStd-Bold.svg#bembo-bold') format('svg');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'bembo', -apple-system, BlinkMacSystemFont, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
main {
  padding: 5rem 2.75rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 5rem;
  margin-bottom: 1rem;
  font-family: 'bembo-bold', -apple-system, BlinkMacSystemFont, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--titles);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 0 0;
  max-width: 1200px;
  max-height: 100vh;
  border-top: 1px solid var(--gallery);
}
.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-right: 1px solid var(--gallery);
  border-left: 1px solid var(--gallery);
  perspective: 1000px;
}
.row.img {
  min-height: auto;
}
.row.text {
  border-bottom: 1px solid var(--gallery);
}