:root {
  --gallery: #eaeaea;
}
  
@font-face {
  font-family: 'lora';
  src: url('/fonts/lora-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/lora-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/lora-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/lora-v17-latin-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/lora-v17-latin-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/lora-v17-latin-regular.svg#lora') format('svg'); /* Legacy iOS */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'lora', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
  Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
main {
  padding: 5rem 2.75rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}
.title {
  font-size: 3rem;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.grid-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 0 0;
  max-width: 2140px;
  max-height: 100vh;
  border-top: 1px solid var(--gallery);
}
.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-right: 1px solid var(--gallery);
  border-left: 1px solid var(--gallery);
}
.row.img {
  min-height: auto;
}
.row.text {
  border-bottom: 1px solid var(--gallery);
}